<!DOCTYPE html>
<html>
    <head>
    <% include ./layout %>
    <head>
    <body>

    <% include ./sidevar %>

    <div class="content">
        <form method="POST">
            Title <input type="text" name="title"><br>
            number <input type="number" name="number"><br>
            <button type="submit">submit</button>
        </form>
    </div>
    </body>
</html>
